@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kaushan+Script&family=Lora:wght@500&family=Secular+One&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Inter', sans-serif;
  /* background-color: #0c1424; */
}
header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 25px;
}
.ha,.intro>h1{
  font-family: 'Lora', serif
}
ul{
  list-style: none;
}
header ul{
  display: flex;
}
ul li{
  padding-right: 40px;
}
.img_profile{
  width: 30px;
  height: 30px;
}
li button{
  background-color: white;
  border: none;
}
main{
  padding: 20px; 
}
main>.left-side{
    width: 100%;
    display: none;
}
.fa-bars{
  cursor: pointer;
  font-size: 30px;
}
ul{
  text-align: center;
}
.left-side ul li{
  margin-top: 40px;
}
li>i{
  font-size: 40px;
}
.fa-youtube{
  color: red;
}
.intro{
  background-image: linear-gradient(to bottom right,#205ace,#112242);
  margin-bottom: 50px;
  padding: 70px 200px ;
  line-height: 1.5;
  text-align: center;
  color: white;
  font-size: 20px;
}
.tips{
  background-image: linear-gradient(to bottom right,#0018a0,#58157e);
  border-radius: 20px;
  padding: 70px 200px ;
  line-height: 1.5;
  color: white;
  width: 40%;
  margin: 50px auto;
}
.tips h2{
  text-align: center;
  margin-bottom: 20px;
}
.content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  padding: 0 90px;
}

.content-isi{
  box-shadow: 0px 4px 0px 1px rgb(180, 176, 176);
  overflow: hidden;
  border-radius: 10px;
}
.content-isi>.content-img{
  width: 100%;
  background-color: blue;
  text-align: center;
  padding: 50px 0;
  font-size: 70px;
  margin-bottom: 10px;
}
.fa-instagram{
  color:white
}
.content-isi h4{
  text-align: center;
}
.content-isi>.deskripsi{
  padding: 0 10px 10px 10px;
}
.fa-tiktok{
  color: white;
}
a{
  text-decoration: none;
  color: black;
}

.form{
  border-radius: 5px;
  padding: 8px;
  display: flex;
  background-color: rgb(180, 176, 176);
}
.form input{
  padding: 14px;
}
input[type='text']{
  width: 80%;
  outline: #1538ff;
}
button[type='submit']{
  width: 20%;
  background-color: rgb(109, 56, 253);
  border: none;
}
.fa-download{
  color: white;
}
.yt-page h2{
  margin-bottom: 20px;
  text-align: center;
}
/* footer */
footer{
  position: relative;
  top: 75%;
  width: 100%;
  color: white;
  background-color: #112242;
  padding: 40px 0 ;
  text-align: center;
}
footer ol{
  display: flex;
  list-style-type: none; 
  margin-bottom: 40px;
}
ol li{
  padding-right: 40px;
}
.footer{
  width: 30%;
  margin: 0 auto;
}